.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #222;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
}

.App-title {
  align-self: center;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.dashboard-container {
  background: black;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 70px);
  justify-content: center;
}

.dashboard-board {
  align-self: flex-start;
  height: 500px;
  min-width: 500px;
  text-align: left;
  border: 1px solid white;
  margin: 20px;
}

.dashboard-header {
   display: flex;
   height: 30px;
   width: 100%;
   background: white;
   color: black;
   font-weight: bold;
   align-items: center;
}

.dashboard-lines {
  padding: 0;
  margin: 0;
  height: calc(100% - 30px);
  overflow: scroll;
}

.dashboard-line {
  display: flex;
  line-height: 150%;
  margin: 8px;
}

.dashboard-line > * {
  align-self: center;
}
