.App {
  text-align: center;
  color: #011;
}

.App-header {
  background-color: #f2f2f2;
  height: 70px;
  color: #011;
  display: flex;
  justify-content: center;
}

.App-title {
  align-self: center;
  font-size: 1.5em;
}

.App-title select {
  font: inherit;
}

.App-intro {
  font-size: large;
}

.dashboard-lines {
  padding: 0;
  margin: 0;
  height: calc(100% - 30px);
  overflow: scroll;
}

.dashboard-line {
  display: flex;
  line-height: 150%;
  margin: 8px;
  justify-content: space-between;
}

.dashboard-line > * {
  align-self: center;
}

.dashboard-line > .title {
  flex-grow: 1;
  margin: 0 10px;
}

.badge {
  display: block;
  border-radius: 3px;
  padding: 2px;
  width: 50px;
  text-align: center;
  flex-shrink: 0;
}

.badge.cool {
  background: green;
}
.badge.be-careful {
  background: yellow;
  color: black;
}
.badge.danger {
  background: red;
}
